%div.chat-side
  %div.side-header
    %p.side-header__username seo
    %ul.user-menu
      %a{:href => "/groups/new"}
        %i.fa.fa-pencil-square-o
      %a{:href => "/users/currentuser_id/edit"}
        %i.fa.fa-cog  
  %div.groups
    %div.group
      %p.group__group-name sample
      %p.group__group-message Good bye world
    %div.group
      %p.group__group-name sample group
      %p.group__group-message hello!
    %div.group
      %p.group__group-name example
      %p.group__group-message まだです