%div.messages
  %div.message
    %div.upper-info
      %p.upper-info__user seo
      %p.upper-info__date 2019/5/28 14:00
    %p.message__text こんにちは
  %div.message
    %div.upper-info
      %p.upper-info__user 太朗
      %p.upper-info__date 2019/5/29 10:00
    %p.message__text こんばんは
  %div.message
    %div.upper-info
      %p.upper-info__user seo
      %p.upper-info__date 2019/5/28 14:00
    %p.message__text こんにちは
  %div.message
    %div.upper-info
      %p.upper-info__user 太朗
      %p.upper-info__date 2019/5/29 10:00
    %p.message__text こんばんは
  %div.message
    %div.upper-info
      %p.upper-info__user seo
      %p.upper-info__date 2019/5/28 14:00
    %p.message__text こんにちは
  %div.message
    %div.upper-info
      %p.upper-info__user 太朗
      %p.upper-info__date 2019/5/29 10:00
    %p.message__text こんばんは
  %div.message
    %div.upper-info
      %p.upper-info__user seo
      %p.upper-info__date 2019/5/28 14:00
    %p.message__text こんにちは
  %div.message
    %div.upper-info
      %p.upper-info__user 太朗
      %p.upper-info__date 2019/5/29 10:00
    %p.message__text こんばんは
  %div.message
    %div.upper-info
      %p.upper-info__user seo
      %p.upper-info__date 2019/5/28 14:00
    %p.message__text こんにちは
  %div.message
    %div.upper-info
      %p.upper-info__user 太朗
      %p.upper-info__date 2019/5/29 10:00
    %p.message__text こんばんは
 