.form
  %form#new_message.new_message{action: "/groups/messages", enctype: "multipart/form-data",method: "post"}
    %input.form__message{type: "hidden"}/
    .form__mask
      %input#message_content.form__mask__text{name: "message[content]", placeholder: "type a message", type: "text"}/
      %label.form__mask__image{for: "message_image"}
        %i.fa.fa-image
        %input#message_image.hidden{name: "message[image]", type: "file"}/
    %input.form__submit{name: "commit", type: "submit", value: "Send"}/

