.messages
  .message
    .upper-message
      %p.upper-message__user-name seo
      %p.upper-message__date 2019/5/28 14:00
    %p.lower-message 
      %p.lower-message__content こんにちは
  .message
    .upper-message
      %p.upper-message__user-name seo
      %p.upper-message__date 2019/5/28 14:00
    %p.lower-message 
      %p.lower-message__content こんにちは
  .message
    .upper-message
      %p.upper-message__user-name seo
      %p.upper-message__date 2019/5/28 14:00
    %p.lower-message 
      %p.lower-message__content こんにちは
  .message
    .upper-message
      %p.upper-message__user-name seo
      %p.upper-message__date 2019/5/28 14:00
    %p.lower-message 
      %p.lower-message__content こんにちは
  .message
    .upper-message
      %p.upper-message__user-name seo
      %p.upper-message__date 2019/5/28 14:00
    %p.lower-message 
      %p.lower-message__content こんにちは
  .message
    .upper-message
      %p.upper-message__user-name seo
      %p.upper-message__date 2019/5/28 14:00
    %p.lower-message 
      %p.lower-message__content こんにちは
  .message
    .upper-message
      %p.upper-message__user-name seo
      %p.upper-message__date 2019/5/28 14:00
    %p.lower-message 
      %p.lower-message__content こんにちは
  .message
    .upper-message
      %p.upper-message__user-name seo
      %p.upper-message__date 2019/5/28 14:00
    %p.lower-message 
      %p.lower-message__content こんにちは