// * {
//   box-sizing: border-box;
// }
// // .flash-box{
// //   width: 100%;
// //   height: 25px;
// //   text-align: center;
// //   line-height: 25px;
// //   font-size: 20px;
// //   color: white;
// //   background-color: #38aef0
// // }

// .wrapper{
  

  .chat-main{
    width: calc(100vw - 300px);
    float: left;
    .main-header{
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eeeeee;
      overflow: scroll;
      .current-group{
        margin-top :35px;
        &__name{
          font-size: 20px;
          color: #333333;
        }
        .member-list{
          display: flex;
          margin-top: 15px;
          font-size: 12px;
          color: #999999;
        }
      }
      &__edit-button{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        color: #38aef0;
      }
    }
    .messages{
      height: calc(100vh - 190px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      .message{
        padding-bottom: 40px;
        .upper-info {
          display: flex;
          margin-bottom: 10px;
          &__user {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &__text {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
    .form{
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd; 
      .new_message{
        display: flex;
        .input-box{
          position: relative;
          width: 100%;
          &__text{
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: #434a54;
          }
          &__image{
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            &__file{
              display: none;
            }
          }
        }
      }
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }
}

